{{fa-icon logo classNames=status}}
<span {{bind-attr class=":network-name status"}}>{{name}}</span>
{{#if available}}
  <a href="https://twitter.com/signup" class="available-button" target="_blank">Get it now</a>
{{/if}}
