.hero {
  text-align: center;
}

.hero-logo {
  width: 300px;
  display: block;
  margin: 0 auto;

  @include media($medium-screen-up) {
    width: 400px;
  }
}

.hero-tagline {
  color: $white;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

.handle-input-label {
  float: left;
  background: url(/assets/at.png) no-repeat 0 0;
}

.handle-input-container {
  padding: 3em 0;

  @include media($large-screen-up) {
    @include span-columns(4 of 12);
    @include shift(4);
  }
}

.handle-input {
  background-color: $light-orange;
  border-radius: $base-border-radius;
  border: none;
  color: $white;
  font-weight: 300;
  height: 3em;
  letter-spacing: em(1.5);
  padding: 0 1em;
  display: inline-block;

  @include placeholder {
    color: $white;
    opacity: 0.5;
  }

}

.handle-input:focus {
  border-radius: $base-border-radius;
  outline: 3px solid $medium-orange;
}

.handle-submit {
  background: white;
  border-radius: $base-border-radius;
  border: none;
  color: $medium-orange;
  height: 3em;
  padding: 0.5em;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }
}

.section-title {
  color: white;
  letter-spacing: 1.4px;
  margin-bottom: 2.6em;
  text-align: left;
}
