body {
  background-color: $dark-orange;
}

.body-content-container {
  padding: 11em 0em 22em;

  @include media($medium-screen-up) {
  padding: 11em 0em 29em;
  }
}

.wrap-container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter;

  @include media($medium-screen-up) {
    max-width: 75em;

    @include outer-container;
  }
}

.centered-content {
  @include fill-parent;
  @include clearfix;
}

