.wrap-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $gutter;

  @include media($medium-screen-up) {
    @include span-columns(10 of 12);
    @include shift(1);
  }
}

.centered-content {
  @include fill-parent;
  @include clearfix;
}

.body-content-container {
  background-color: $dark-orange;
  padding: 11em 3em 22em;

  @include media($medium-screen-up) {
  padding: 11em 11em 29em;
  text-align: center;
  }
}
