.social-networks {
  @include span-columns(12 of 12);

  @include media($medium-screen-up) {
    margin: 5em 0;

    @include span-columns(12 of 12);
    @include shift(2);
  }
}

.social-network {
  color: $white;
  margin-bottom: 1.5em;
  opacity: 0.6;

  @include span-columns (4 of 12);
  @include shift (1);

  @include media($large-screen-up) {
    @include span-columns (3 of 12);
    @include shift (0);
  }
}

.social-network .fa {
  float: left;
  font-size: $h2-font-size;
  width: 1.1em;
}

.network-name {
  float: left;
  font-size: $base-font-size;
  margin: 0.2em 0 0 0.2em;

  @include media($medium-screen-up) {
  margin-left: 1.5em;
  }
}

.network-name.available, .fa.available {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.network-name.unavailable, .fa.unavailable {
  opacity: 0.3;
  transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

.available-button {
  background: white;
  border-radius: $base-border-radius;
  color: $medium-orange;
  padding: .5em;

  &:hover {
    opacity: 0.5;
  }
}
