<nav class="global-nav">
  <section class="wrap-container">
    <header class="global-nav-item logo-text">
      <a href="/">
        <img src="/assets/handled-logo.png", class="logo" />
      </a>
    </header>
    <ul class="global-nav-list">
      <li class="global-nav-item">
        {{#link-to "about"}}About{{/link-to}}
      </li>
    </ul>
  </section>
</nav>
