<footer class="footer">
  <section class="wrap-container">
    <p>Handled © 2014-2015</p>
    <p>
      Created by <a href="http://twitter.com/grayson_wright"
target="_blank">Grayson Wright</a> and <a
href="http://twitter.com/mvenetucci" target="_blank">Michelle Venetucci</a>
    </p>
  </section>
</footer>
