<section class="body-content-container">
  <img src="assets/handled-logo.png", class="hero-logo" />
  <h3 class="hero-headline">
    no hassle handle search
  </h3>
  <input class="username-input-box">
  </input>
</section>
