<section class="body-content-container">
  <img src="assets/handled-logo.png", class="hero-logo" />
  <h3 class="hero-tagline">
    no hassle handle search
  </h3>
  {{input class="handle-input" type="text" value=handle}}

  <div class="social-networks">
    {{#each network in this}}
      {{social-network name=network.name favicon=network.favicon handle=handle}}
    {{/each}}
  </div>
</section>
