<section class="body-content-container">
  <img src="assets/handled-logo.png", class="hero-logo" />
  <h3 class="hero-tagline">
    no hassle handle search
  </h3>
  <label class="fa fa-at handle-input-label" for="handle-input">
  </label>
  {{input id="handle-input" class="handle-input" type="text" value=handle placeholder="YourNewUsername"}}
  <div class="social-networks">
    {{#each network in this}}
      {{social-network logo=network.logo name=network.name handle=handle}}
    {{/each}}
  </div>
</section>
