<section class="body-content-container">
  <img src="assets/handled-logo.png", class="hero-logo" />
  <h3 class="hero-tagline">
    no hassle handle search
  </h3>
  <label class="handle-input-label" for="handle-input">
  </label>
  <div class="handle-input-container">
    {{input id="handle-input" class="handle-input" type="text" value=handle placeholder="YourNewUsername"}}
    <button type="submit" class="handle-submit" {{action "checkHandle"}}>
      Submit
    </button>
  </div>
  <div class="social-networks">
    {{#each network in controller}}
      {{social-network logo=network.logo name=network.name handle=handle
status=network.status available=network.available}}
    {{/each}}
  </div>
</section>
